
<h1>Rock Paper Scissors</h1>
<h2>Sign in to play</h2>
<form action="/name" method="post">

	<label for="marketeers_name">
		Marketeers name
	</label>
	
<input type="text" name="marketeers_name">
<input type="submit" value="Submit">
</form>